<div class="ui four doubling cards">
    <div class="blue card" *ngFor="let rider of riders | async">
        <div class="content">
            <div class="right floated meta"><i class="motorcycle icon"></i> {{rider.moto}}</div>
            <img class="ui tiny image" src="{{rider.logo}}" alt="{{rider.num}}">
        </div>
        <div class="image">
            <img src="{{rider.imagePath}}" alt="{{rider.name}}">
        </div>
        <div class="content">
            <div class="ui medium header"><i class="{{rider.isoCode}} flag"></i>{{rider.name}}</div>
            <div class="meta">
                <span>{{rider.team}}</span>
            </div>
        </div>
    </div>
</div>