<div class="ui divided items">
    <div class="item" *ngFor="let team of teams">
        <div class="image">
            <img src="{{team.imagePath}}" alt="{{team.teamName}}">
        </div>
        <div class="content">
            <div class="ui huge header">{{team.teamName}}</div>
            <div class="meta">
                <span>Мотоцикл: {{team.moto}}</span>
            </div>
            <div class="description">
                <p></p>
            </div>
            <div class="extra">Additional Details </div>
        </div>
    </div>
</div>