<div class="ui stackable secondary pointing menu">
    <div class="ui container">
        <div class="item">
            <img src="/assets/images/logo.png">
        </div>
        <a class="item" routerLink="/calendar" routerLinkActive="active">Календарь</a>
        <a class="item" routerLink="/teams" routerLinkActive="active">Команды</a>
        <a class="item" routerLink="/riders" routerLinkActive="active">Пилоты</a>
        <a class="item" routerLink="/results" routerLinkActive="active">Общий зачет</a>
    </div>
</div>
<div class="ui container">
    <router-outlet></router-outlet>
</div>
<div class="ui vertical footer segment">
    <div class="ui section divider"></div>
    <div class="ui container">
        <a href="https://vk.com/club140850653"><i class="big vk icon"></i></a>
        <a href="https://www.instagram.com/motogp/"><i class="big instagram icon"></i></a>
        <a href="https://www.facebook.com/MotoGP/"><i class="big facebook f icon"></i></a>        
        <a href="https://www.youtube.com/user/MotoGP"><i class="big youtube icon"></i></a>        
    </div>    
</div>